<!doctype html>
<html lang="en">
    <body>
        <header class="header">
            {% if is_granted('ROLE_USER') %}
                <p>Email: {{ app.user.email }}</p>
            {% endif %}
        </header>
        <br><br>
        <main role="main" class="container mt-5">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
