<!doctype html>
<html lang="en">
    <body>
        <header class="header">
           Hello <b>{{user.email}}</b>
        </header>
        <br><br>
        <main role="main" class="container mt-5">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
