{% block title %}LyricsController!{% endblock %}

{% block body %}

    {% for item in lyrics %}
        <div class="container">
            <div>{{item.content}}</div>
            <div>{{item.createdAt|date("Y-m-d")}}</div>
        </div>
    {% endfor %}

{% endblock %}
