{% extends 'c_base.html.twig' %}

{% block body %}

<div>
    <p data-controller="hello">some text</p>

    <p>Original template: {{date}}</p>
1
    <p>ESI: {{ render_esi(url('app_test_esi')) }}</p>

    <div id='list'></div>

    <script type="text/javascript">
        {# let evtSource = new EventSource("/streamer", {withCredentials: false});

        evtSource.onmessage = function (e) {
            let data = JSON.parse(e.data);
            console.log(data);

            let list = document.getElementById('list');
            let p = document.createElement("p");
            p.textContent = data['message'];
            list.append(p);
        }; #}
    </script>
</div>

{% endblock %}